.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#map-submit {
  display: inline-block;
  position: absolute;
  z-index: 1000;
  left: 430px;
  top: 10px;
}

#slider_wrapper {
  position: inherit !important;
  height: 650px !important;
}
.navbar-default {
  margin: 0px 0px !important;
  margin-bottom: 0px !important;
}
.flexslider .item {
  height: 650px !important;
  background-position: center top !important;
}

.main {
  top: 0px !important;
}

.carousel-caption.show {
  bottom: 30px;
}

#create-destination-form {
  top: 500px;
  position: fixed;
  text-align: center;
  width: 100%;
}

